// secrets.cpp
#include "secrets.h"

const char* WIFI_SSID = "<ssid>";
const char* WIFI_PASSWORD = "<passwd>";

const char* INFLUX_HOST = "192.168.x.x";  // IP del host donde corre InfluxDB
const char* INFLUX_DB = "smart_irrigation";
const char* INFLUX_USER = "admin";
const char* INFLUX_PASS = "admin123";
const int INFLUX_PORT = 8086;
